:root {
    --color-fondo: #0a001a;
    --color-texto: #8d4b85;
    --color-hover: #717171;
    --color-blanco: #ffffff;
    --fuente-primaria: 'PPPangaia', sans-serif;
    --fuente-secundaria: 'Raleway', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-fondo);
    text-align: center;
}

header {
    background-color: var(--color-fondo);
    margin-top: 35px;
    margin-bottom: 0;
}

ul.image-buttons {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

ul.image-buttons li {
    display: inline-block;
}

.image-buttons a {
    text-decoration: none;
}

.image-buttons img {
    width: 336px;
    height: 66px;
    margin: 0 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-buttons img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px var(--color-fondo);
}

.first-buttons img {
    width: 53.69px;
    height: 56.1px;
    margin-left: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.inicio {
    width: 1920px;
    height: 1080px;
}

footer {
    text-align: center;
    margin-top: 0;
}

p {
    color: var(--color-texto);
}

.titulosPreguntas {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--fuente-primaria);
    color: var(--color-texto);
}

label {
    text-align: left;
    color: var(--color-texto);
}

* {
    box-sizing: border-box;
}

.slideshow-container {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 100px;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 110px;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--color-hover);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/*Libro */
.image-container {
    position: relative;
    display: inline-block;
}

.libro-img {
    display: block;
}

.comprar-img {
    width: 336px;
    height: 66.4px;
    position: absolute;
    bottom: 250px;
    left: 200px;
}

.comprar-img:hover {
    transform: scale(1.1);
}
/*merchandising */
.merchTextos {
    width: 1920px;
    height: 1739px;
    top: 0px;
    left: 0px;
    display: block;
    position: relative;
}

.merch-item {
    width: 468.4px;
    height: 410.64px;
    position: absolute;
    transition: transform 0.3s ease;
}

.merch-item:hover {
    transform: scale(1.1);
}

.camiseta {
    position: absolute;
    top: 550px;
    left: 349px;
}

.tote {
    position: absolute;
    top: 550px;
    left: 1063px;
}

.carteles {
    position: absolute;
    top: 1180px;
    left: 349px;
}

.pegatinas {
    position: absolute;
    top: 1180px;
    left: 1063px;
}

.seBusca {
    width: 1920px;
    height: 2661px;
}

/*test */

.pregunta {
    text-align: left;
    margin-left: 400px;
}

.pregunta p {
    margin-left: 0;
}

.pregunta label {
    display: block;
    margin-bottom: 10px;
    font-family: var(--fuente-secundaria);
    font-size: 24px;
    margin-left: 0;
}

.pregunta input[type="radio"] {
    margin-right: 10px;
    margin-left: -20px;
}

@font-face {
    font-family: 'PPPangaia';
    src: url('PPPangaia-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf') format('truetype');
}

.oculto {
    display: none;
}

#pantallaCompleta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#mensajeGanador {
    position: absolute;
    top: -10px;
    left: 630px;
    z-index: 2;
    font-size: 5em;
}

#cerrarPantallaCompleta {
    position: absolute;
    bottom: 100px;
    z-index: 2;
}

#pantallaCompleta img {
    max-width: 80%;
    height: auto;
    z-index: 1;
}

#pantallaCompleta.oculto {
    display: none;
}